SITE = "localhost:8010"
static_path = "static/"
DATABASE = {
    'database': 'yface',
    'host':     'localhost',
    'user':     'root',
    'password': '901014',
}

# Flickr
flickr_key = '***'
flickr_secret = '***'

# Face++
API_KEY = '***'
API_SECRET = '***'

